# 1. Variables

1. Create a variable named pi and store the value 22/7 in it.Now check the data type of this variable.

In [1]:
pi=22/7

In [2]:
type(pi)

float

2. Create a variable called for and assign it a value 4. See what happens and find out the reason behind the behavior that you see.

In [3]:
for=4

SyntaxError: invalid syntax (3639871942.py, line 1)

3. Store the principal amount, rate of interest, and time in different variables and then calculate the Simple Interest for 3years. Formula: Simple Interest = P x R x T / 100

In [4]:
Pa=10000
Ri=5
T=5
Si = (Pa * Ri * T)/100
print('The Simple Interest is', Si)

The Simple Interest is 2500.0

# 2. Numbers

1. Write a function that takes two arguments, 145 and 'o', and uses the `format` function to return a formatted string. Print the result. Try to identify the representation used.

In [5]:
def number(num, format_spec):
    str = format(num, format_spec)
    return str

result = number(145, 'o')
print(result)

221

2. In a village, there is a circular pond with a radius of 84 meters.Calculate the area of the pond using the formula: Circle Area = π r^2. (Use the value 3.14 for π) Bonus Question: If there is exactly 1.4 liters of water in a square meter, what is the total amount of water in the pond? Print the answer without any decimal point in it. Hint: Circle Area = π r^2 Water in the pond = Pond Area Water per Square Meter

In [6]:
radius=84
Pi=3.14
Area=Pi*radius*2
print("Area of the pond :",Area)

Area of the pond : 527.52

3. If you cross a 490 meterlong street in 7 minutes, calculate your speed in meters per second. Print the answer without any decimal point in it. Hint: Speed = Distance / Time

In [7]:
Dist=490
Time=7
Speed=Dist//Time
print("The calculated speen in m/s :",Speed)

The calculated speen in m/s : 70

# 3. List

1. You have a list of superheroes representing the Justice League. justice_league = ["Superman","Batman","WonderWoman","Flash", "Aquaman","Green Lantern"]
    
    Perform the following tasks:

In [8]:
justice_league = ["Superman","Batman","WonderWoman","Flash","Aquaman","Green Lantern"]

1.Calculate the number of members in the Justice League.

In [9]:
print(len(justice_league))

6

2.Batman recruited Batgirl and Nightwing as new members.Add them to your list.

In [10]:
justice_league.append("Batgirl")
justice_league.append("Nightwing")
print(justice_league)

['Superman', 'Batman', 'WonderWoman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

3.Wonder Woman is now the leader of the Justice League.Move her to the beginning of the list.

In [11]:
wonder_woman_index=justice_league.index("WonderWoman")
print(wonder_woman_index)
wonder_woman = justice_league.pop(wonder_woman_index)
print(wonder_woman)
justice_league.insert(0, wonder_woman)
print(justice_league)

2
WonderWoman
['WonderWoman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

4.Aquaman and Flash are having conflicts, and you need to
separate them. Choose either "Green Lantern" or "Superman"
and move them in between Aquaman and Flash.

In [12]:
justice_league.remove("Green Lantern")
print(justice_league)
aquaman_index = justice_league.index("Aquaman")
print(aquaman_index)
justice_league.insert(aquaman_index + 1, "Green Lantern")
print(justice_league)

['WonderWoman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Batgirl', 'Nightwing']
4
['WonderWoman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

5.The Justice League faced a crisis, and Superman decided to assemble a new team. Replace the existing list with the following
new members: "Cyborg","Shazam","Hawkgirl","MartianManhunter","Green Arrow".

In [13]:
justice_league=["Cyborg","Shazam","Hawkgirl","MartianManhunter","Green Arrow"]
print(justice_league)

['Cyborg', 'Shazam', 'Hawkgirl', 'MartianManhunter', 'Green Arrow']

6. Sort the Justice League alphabetically. The hero at the 0th index will become the new leader.

In [14]:
justice_league=["Cyborg","Shazam","Hawkgirl","MartianManhunter","Green Arrow"]
print("Before Sorting :",justice_league)
justice_league.sort()
print("After Sorting",justice_league)

Before Sorting : ['Cyborg', 'Shazam', 'Hawkgirl', 'MartianManhunter', 'Green Arrow']
After Sorting ['Cyborg', 'Green Arrow', 'Hawkgirl', 'MartianManhunter', 'Shazam']

"Cyborg" is hero of the list justice_league.

# 4. If Condition

1. Write a program to determine the BMI Category based on user input.

    Ask the user to:
    Enter height in meters
    
    Enter weight in kilograms
    
    Calculate BMI using the formula: BMI = weight / (height)2
    
    Use the following categories:
    
    If BMI is 30 or greater, print "Obesity"
    
    If BMI is between 25 and 29, print "Overweight"
    
    If BMI is between 18.5 and 25, print "Normal"
    
    If BMI is less than 18.5, print "Underweight"
    
    Example:
    
    Enter height in meters: 1.75
    
    Enter weight in kilograms: 70
    
    Output: "Normal"

In [15]:
def calculate_bmi():
    height = float(input("Enter height in meters: "))
    weight = float(input("Enter weight in kilograms: "))
    bmi = weight / (height ** 2)
    if bmi >= 30:
        print("Obesity")
    elif 25 <= bmi < 30:
        print("Overweight")
    elif 18.5 <= bmi < 25:
        print("Normal")
    else:
        print("Underweight")
calculate_bmi()

Enter height in meters: 1.80
Enter weight in kilograms: 65
Normal

2. Write a program to determine which country a city belongs to. Given list of cities per country:
    
    Australia = ["Sydney","Melbourne","Brisbane","Perth"]

    UAE = ["Dubai","Abu Dhabi","Sharjah","Ajman"]

    India = ["Mumbai","Bangalore","Chennai","Delhi"]

    Ask the user to enter a city name and print the corresponding country.

    Example:

    Enter a city name: "Abu Dhabi"

    Output: "Abu Dhabi is in UAE"

In [19]:
australia = ["Sydney", "Melbourne", "Brisbane", "Perth"]
UAE = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
INDIA = ["Mumbai", "Bangalore", "Chennai", "Delhi"]

city = input("Enter a city name: ")

if city in australia:
    print(city,"is in Australia")
elif city in UAE:
    print(city,"is in UAE")
elif city in INDIA:
    print(city,"is in India")
else:
    print("City not found.")

Enter a city name: Abu Dhabi
Abu Dhabi is in UAE

3. Write a program to check if two cities belong to the same country.Ask the user to enter two cities and print whether 
    they belong to the same country or not.

    Example:

    Enter the first city: "Mumbai"

    Enter the second city: "Chennai"

    Output: "Both cities are in India"

    Example:

    Enter the first city: "Sydney"

    Enter the second city: "Dubai"

    Output: "They don't belong to the same country"

In [21]:
Australia_cities = ["Sydney", "Melbourne", "Brisbane", "Perth"]
UAE_cities = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
India_cities = ["Mumbai", "Bangalore", "Chennai", "Delhi"]

city1 = input("Enter the first city: ")
city2 = input("Enter the second city: ")

def find_country(city):
    if city in Australia_cities:
        return "Australia"
    elif city in UAE_cities:
        return "UAE"
    elif city in India_cities:
        return "India"
    else:
        return None

    
country1 = find_country(city1)
country2 = find_country(city2)

if country1 and country2:
    if country1 == country2:
        print(f"Both cities are in {country1}")
    else:
        print("They don't belong to the same country")
else:
    if not country1:
        print(f"{city1} is not in the list of known cities.")
    if not country2:
        print(f"{city2} is not in the list of known cities.")

Enter the first city: Sydney
Enter the second city: Dubai
They don't belong to the same country

# 6. Dictionary

1. Create a list of your friends' names. The list should have at least 5 names.Create a list of tuples. Each tuple should contain a friend's name and the length of the name.

    For example, if someone’s name is Aditya, the tuple would be: ('Aditya', 6)

In [22]:
friends = ["Loki", "Boby", "Ravi", "Sai", "Eswar"]

friends_lengths = [(name, len(name)) for name in friends]

print(friends_lengths)

[('Loki', 4), ('Boby', 4), ('Ravi', 4), ('Sai', 3), ('Eswar', 5)]

2.You and your partner are planning a trip, and you want to track expenses.Create two dictionaries, one for your expenses and one for your partner's expenses. Each dictionary should contain at least 5 expense categories and theircorresponding amounts.

    For example:

    Your expenses

    your_expenses = {"Hotel": 1200,"Food": 800,"Transportation": 500,"Attractions": 300,"Miscellaneous": 200}

    Your partner's expenses

    partner_expenses = {"Hotel": 1000,"Food": 900,"Transportation": 600,"Attractions": 400,"Miscellaneous": 150}

    Calculate the total expenses for each of you and print the results.

    Determine who spent more money overall and print the result.

    Find out the expense category where there is a significant difference in spendingbetween you and your partner.
    
    Print the category and the difference.

In [25]:
your_expenses = {
    "Hotel": 1200,
    "Food": 800,
    "Transportation": 500,
    "Attractions": 300,
    "Miscellaneous": 200
}

partner_expenses = {
    "Hotel": 1000,
    "Food": 900,
    "Transportation": 600,
    "Attractions": 400,
    "Miscellaneous": 150
}

total_your_expenses = sum(your_expenses.values())
total_partner_expenses = sum(partner_expenses.values())

print(f"Your total expenses: {total_your_expenses}")
print(f"Your partner's total expenses: {total_partner_expenses}")


if total_your_expenses > total_partner_expenses:
    print("You spent more money overall.")
elif total_your_expenses < total_partner_expenses:
    print("Your partner spent more money overall.")
else:
    print("Both spent the same amount of money overall.")

    
max_difference = 0
max_difference_category = None

for category in your_expenses:
    difference = abs(your_expenses[category] - partner_expenses[category])
    if difference > max_difference:
        max_difference = difference
        max_difference_category = category

print(f"The expense category with the most significant difference is {max_difference_category} with a difference of {max_difference}.")

Your total expenses: 3000
Your partner's total expenses: 3050
Your partner spent more money overall.
The expense category with the most significant difference is Hotel with a difference of 200.